header {
    width: 100%;
    /*top: 0px;
    left: 0px;
    height: 80px;*/
    display: block;
    background: rgb(57, 92, 148);
}

label{
    text-align: right;
}
div{
    display: block;
}


header p {
    font-size:1.5ex;
    color: aliceblue;
    text-decoration: aliceblue;
}

.choices{
    margin-top: 100px;


}